$mainBlue: #46549D;
$lightBlue: #2EBAEE;
$lightGrey: #fefefe;
$grey: #8aa9d2;
$darkGrey: #3d415b;
$btnBlue: #89cbf0;

$green: #00b33c;
$red: #ff4000;

$bgTop: #071458;
$bgBottom: #001123;

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom, $bgTop 0%, $bgBottom 100%);
  color: $darkGrey;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.subline {
  color: $lightGrey;
  font-size: 0.8rem;
}

header {
  > .row {
    background: $mainBlue url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    height: 220px;
  }

  h1 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 0;
  }

  .stats-wrapper {
    padding: 20px 0;

    > .row {
      display: inline-flex;
    }

    .stats {
      line-height: 0.5em;
      font-size: 2em;

      strong {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}

.status-circle-wrapper {
  align-items: center;
  display: flex;

  .status-circle {
    height: 30px;
    margin-right: 10px;

    .background-circle {
      fill: transparent;
      stroke: $mainBlue;
      stroke-width: 2px;
    }

    .status-circle {
      fill: transparent;
      transition: stroke-dasharray 1s ease;
      stroke: $lightBlue;
      stroke-width: 4px;
    }
  }
}

.todo-form-wrapper {
  background-color: $mainBlue;
  margin-top: 30px;
  padding: 20px;

  .todo-form-title {
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }

  .todo-form-body {
    padding-top: 30px;

    input,
    select {
      background: $bgTop;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 0.9em;
      padding: 10px;
    }

    option {
      color: $grey;
      padding: 0;
    }

    .btn-blue {
      background-color: $lightBlue;
      box-shadow: 0 5px 10px rgba(1,1,1,0.3);
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-weight: 300;
      margin-top: 20px;
      position: relative;

      &:hover {
        background-color: darken($lightBlue, 10%);
      }

      &:active {
        box-shadow: 0 3px 5px rgba(1,1,1,0.3);
        top: 2px;
      }
    }

    *::-webkit-input-placeholder {
      color: $grey;
    }
    *:-moz-placeholder {
      /* FF 4-18 */
      color: $grey;
    }
    *::-moz-placeholder {
      /* FF 19+ */
      color: $grey;
    }
    *:-ms-input-placeholder {
      /* IE 10+ */
      color: $grey;
    }
  }
}

.todo-list {
  border-radius: 0;
  margin-top: 30px;

  .todo-item {
    background-color: #fff;
    border: 0;
    margin-bottom: 10px;
    padding: 0.75rem 1.25rem;
    transition: box-shadow 0.3s ease;

    &:last-child {
      border-bottom: 0;
    }

    &.green {
      box-shadow: 5px 0 0 0 $green inset;
      &:hover {
        box-shadow: 7px 0 0 0 $green inset;
      }
    }

    &.red {
      box-shadow: 5px 0 0 0 $red inset;

      &:hover {
        box-shadow: 7px 0 0 0 $red inset;
      }
    }

    p {
      font-size: 1.4em;
    }

    .subline {
      color: $darkGrey;
    }

    .btn-todo-done {
      color: $mainBlue;
      cursor: pointer;
      font-size: 2em;
      position: relative;
      transition: transform 0.2s linear;

      &:hover {
        color: $darkGrey;
        transform: translateX(3px);
      }
    }
  }
}

