$mainBlue: #46529D;
$lightGrey: #e3e3e3;

html,
body {
  background: linear-gradient(to bottom, #001123 0%, #071458 100%);
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

header {
  > .row {
    background: $mainBlue url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    height: 220px;
  }

  .subline {
    color: $lightGrey;
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 0;
  }

  .stats-wrapper {
    padding: 20px 0;

    > .row {
      display: inline-flex;
    }

    .stats {
      line-height: 0.5em;
      font-size: 2em;

      strong {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}

#events {
  padding-top: 50px;
}

.card {
  background-color: $mainBlue;
  border: none;
}

#todo-form {
  textarea {
    resize: none;
  }
}